@use "sass:color";

$background-color: #F2F1FA;
$background-color-white: white;
$foreground-color: #181818;
$foreground-color-light: color.change($foreground-color, $alpha: 0.5);

$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-big: 20px;

$purple: #8C56FD;


// DEPRECATED
$icon-color: #767676;
$anchor-color: #7481B5;
$accent-color: #A86DDC;
$background-color-white: #FEFEFE;
$background-color-blue: #F4F5F9;